{% extends "base.html" %}
{% block content %}
<h1>Reversr</h1>

<p>Pick a song from your computer</p>
<input type="file" accept="audio/*">

<p>Or record (10 sec max)</p>

<input id="record_button" type="button" class='btn btn-danger' value='Record'>
<input id="stop_button" type="button" class='btn btn-warning' value='Finish!' disabled>
{# <input id="upload_button" type="button" class='btn btn-warning' value='Upload'> #}
<span id="time">0:00</span>


<button id="play_reversed" class='btn btn-primary' disabled>Reverse it</button>
<button id="stop_sound" class='btn'>Stop</button>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='libs/recorder/recorder.js') }}"></script>
<script src="{{ url_for('static', filename='js/reversr.js') }}"></script>
{% endblock scripts %}
